.page-id-13{
    .main-content{
        h2{
            color: $primary;
            text-align: center;
            margin: 1.8rem auto;
            font-size: 24px;
            padding: 0px 8rem;
        }
    }
}
.wpcf7-form{

    .wpcf7-form-control-wrap{
        width: 100%;
        display: block;
        padding: .50rem;
        
        .form-control {
            border: 1px solid $primary!important;
            border-radius: 0px!important;
            &:focus,&:hover {
                color: $primary;
                border-color: $primary;
                box-shadow: 0 0 0 0.2rem rgba(150, 2, 2, 0.25);
            }
        }

    }
    .btn{
        padding: 10px 10px;
        color: $primary;
        background-color: $white;
        border: 1px solid $primary;
        border-radius: 0px;
        width: 220px;
        transition: all 2.0s;
        &:hover{
            color: $white;
            background-color: $primary;
        }
    }

}