.woocommerce{
    .woocommerce-input-wrapper{
        width: 100%;
        display: block;
    }
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea{
    padding: .50rem;
    border: 1px solid #e4e4e4!important;
    background: #f0f0f0;
    border: 0;
}